.md-primary {
  background-color: #232323 !important;
  color: #91CC32 !important;
}

.md-primary:not([disabled]):hover {
  background-color: rgba(107, 103, 91, 0.96);
  color: white;
}

.home h1 {
  text-align: center;
}

.homeStaticImage {
  padding-top: 25px;
  padding-bottom: 25px
}

.homeStaticImage img {
  width: 100%;
  height: auto;
}

.carouselImg {
  width: 100%;
  height: auto;
}

.mentorTile {
  padding: 65px 15px 65px 15px;
  background-color: #DEE4E0;
  text-align: center;
}

.mentorTileContainer {
  padding-top: 25px;
  padding-bottom: 25px;
}

.mentorButtonContainer {
  padding-top: 25px;
  padding-bottom: 25px;
}

.mentorButton {
  padding-left: 25px;
  padding-right: 25px;
}

.giveBackItem {
  background-color: #DEE4E0;
  padding-left: 60px;
  padding-right: 60px;
}

.giveBackContainer {
  background-color: #DEE4E0;
  padding-top: 25px;
  padding-bottom: 25px;
}

.giveBackItemContainer {
  background-color: #DEE4E0;
}

.categories {
  padding: 25px 0 0 0;
}

.categoriesTiles {
  padding: 30px;
  border: 1px solid #DEE4E0;
}

.categoriesTilesContainer {
  padding-bottom: 25px;
}

.organizationContainer {
  padding: 0 0 25px 0;
}

.organizationContainerChild {
  background-color: #DEE4E0;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.organizationItem {
  background-color: #DEE4E0;
}
