<div class="">
  <vetshack-carousel></vetshack-carousel>
</div>

<div class="container home">
  <div class="container-fluid mentorTileContainer">
    <h1>Connect with a mentor</h1>

    <div class="row">
      <div class="container col-xs-4" ng-repeat="mentor in vm.mentorList">
        <div class="mentorTile">
          <h4>{{mentor.title}}</h4>
          <h6>{{mentor.text}}</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <md-content class="container-fluid mentorButtonContainer">
      <section layout="row" layout-align="space-around center" layout-wrap>
        <md-button class="md-raised md-primary mentorButton">Find a mentor</md-button>
        <md-button class="md-raised md-primary mentorButton">Be a mentor</md-button>
      </section>
    </md-content>
  </div>
</div>

<div class="homeStaticImage">
  <img ng-src="http://www.backdrops.net/images/34%20Mottled%20Blue%208'%20x%2010'.jpg" />
</div>


<div class="container giveBackContainer">
  <md-content layout="row" layout-align="center center" layout-wrap>
    <section layout="row" layout-align="center center" layout-wrap>
      <div class="giveBackItem">
        <h4>Veterans giving back. Lorem ipsum dolor sit amet.</h4>
      </div>
    </section>

    <section layout="row" layout-align="space-around center" layout-wrap>
      <div class="giveBackItem">
        <md-button class="md-raised md-primary mentorButton">I want to give back</md-button>
        <md-button class="md-raised md-primary mentorButton">View veteran volunteers</md-button>
      </div>
    </section>
  </md-content>
</div>


<div class="container categories">
  <div class="row">
    <div class="col-xs-4 categoriesTilesContainer" ng-repeat="categorie in vm.categories">
      <div class="categoriesTiles">
        <h4>{{categorie}}</h4>
        <md-content>
          <section layout="column" layout-align="space-around center" layout-wrap>
            <md-button class="md-raised md-primary">View {{categorie}}</md-button>
            <md-button class="md-raised md-primary">Post {{categorie}}</md-button>
          </section>
        </md-content>
      </div>
    </div>
  </div>
</div>
