<vetshack-searchbar location="vm.location" type="vm.type"></vetshack-searchbar>

<div id="Discounts-Page">
  <!-- Filter -->
  <ul class="List-Parent">
<!--     <li>
      <div id="Filter-Parent">
        <ul class="filter-list">
          <li><h3>Filter</h3></li>
          <li>Industry Professional 2 Veteran</li>
          <li>Veteran 2 Veteran</li>
        </ul>
      </div>
    </li> -->
    <li>
      <!-- Discount List -->
    <div id="List-Discount-Parent">
      <div id="List-Discounts">
        <ul class="discounts" ng-repeat="discount in vm.discounts">
          <li class="list-tile-parent" ng-click="vm.onClickDiscount(discount._id)" style=" list-style: none">
            <div class="list-tile">
                <h3><span>{{discount.who}}</span></h3>
                <ul style="list-style: none">
                  <li>{{discount.amount}}%</li>
                  <li>{{discount.location}}</li>
                  <li>{{discount.description}}</li>
                </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    </li>
  </ul>
</div>


