<div layout="column" layout-align="center center" layout-padding>
  <h3>Mentor Name</h3>
  <md-content class="md-passing card-container" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout="column">
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title-text>
          <span class="md-headline">About</span>
        </md-card-title-text>
        <md-card-content>
          <p>
            Lorem ipsum dolor.
          </p>
        </md-card-content>
      </md-card>

      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title-text>
          <span class="md-headline">I can help you with</span>
        </md-card-title-text>
        <md-card-content>
          <p>
            Lorem ipsum dolor.
          </p>
        </md-card-content>
      </md-card>
    </div>
  </md-content>
</div>

