<div layout="column" layout-align="center center" layout-padding>
  <div class="mentor-title" layout="row" layout-align="space-between center">
    <h3 class="mentor-name">Mentor Name</h3>
    <a class="mentors-nav" ui-sref="mentors">
    Back to mentor page
    </a>
  </div>

  <md-content class="md-passing card-container" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout="column">
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title-text class="card-title">
          <span class="md-headline card-title">About</span>
        </md-card-title-text>
        <md-card-content>
          <p>
            Lorem ipsum dolor.
          </p>
        </md-card-content>
      </md-card>

      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title-text class="card-title">
          <span class="md-headline card-title">I can help you with:</span>
        </md-card-title-text>
        <md-card-content>
          <ul>
            <li>Lorem ipsum dolor.</li>
            <li>Lorem ipsum dolor.</li>
            <li>Lorem ipsum dolor.</li>
            <li>Lorem ipsum dolor.</li>
          </ul>
        </md-card-content>
      </md-card>
    </div>
  </md-content>
</div>

